.CertainNews {
    position: relative;
    background-color: var(--light);
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 2vw;
    width: 100%;
    & > img {
        width: 100%;
        height: 12vw;
        min-height: 200px;
        border-radius: 25px;
        object-fit: cover;
    }
    .back {
        position: absolute;
        top: 40px;
        left: 40px;
        padding: 3px 15px;
        border-radius: 10px;
        background-color: var(--gray);
        img {
            width: 23px;
        }
    }
    .title {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 20px;
        margin: 15px 0;
        h1 {
            max-width: 750px;
            font-weight: 400;
            font-size: 22px;
        }
        div {
            display: flex;
            align-items: flex-start;
            img {
                width: 16px;
            }
            p {
                font-size: 13px;
                color: #8c8c8c;
                margin: 2px 20px 0 5px;
            }
        }
    }
    h2 {
        font-weight: 400;
        font-size: 22px;
        margin-top: 2.5vw;
        margin-bottom: 1vw;
    }
    hr {
        display: block;
        width: auto;
        margin: 14px 0;
        border: none;
        border-top: 1px solid #cacaca;
    }
    .addComment {
        position: relative;
        display: flex;
        gap: 10px;
        margin-bottom: 1.3vw;
        width: fit-content;
        @media (max-width: 580px) {
            max-width: 100%;
        }
        & > img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            object-fit: cover;
        }
        textarea {
            border-radius: 15px;
            border: 1px solid var(--light-font);
            width: 425px;
            height: 87px;
            max-width: 30vw;
            padding: 8px 12px 8px 12px;
            resize: none;
            @media (max-width: 1080px) {
                max-width: 100%;
            }
        }
        button {
            position: absolute;
            display: none;
            right: -50px;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--gray);
            @media (max-width: 1150px) {
                right: 5px;
                bottom: 5px;
            }
            img {
                width: auto;
                height: 18px;
                margin: auto;
                padding-left: 1px;
                padding-top: 4px;
            }
        }
        @media (max-width: 550px) {
            textarea {
                border-radius: 8px 8px 8px 8px;
            }
            button {
                width: 30px;
                height: 30px;
                right: 3px;
                bottom: 3px;
                img {
                    height: 15px;
                }
            }
        }
    }
    .activeAdd {
        @media (max-width: 1150px) {
            textarea {
                border-radius: 15px 15px 25px 15px;
                padding-right: 50px;
            }
        }
        @media (max-width: 550px) {
            textarea {
                border-radius: 8px 8px 18px 8px;
                padding-right: 40px;
            }
        }

        button {
            display: block;
        }
    }
    .comment {
        & > div {
            display: flex;
            gap: 10px;
            & > img {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                object-fit: cover;
            }
            & > div {
                :first-child {
                    font-size: 20px;
                }
                :last-child {
                    font-size: 13px;
                    color: #8c8c8c;
                    margin-top: 5px;
                    img {
                        width: 16px;
                        margin: 0 5px -3px 0;
                    }
                }
            }
        }
        & > p {
            margin: 14px 0;
            padding: 16px;
            background-color: #eeeeee;
            border-radius: 25px;
        }
    }
    @media (max-width: 550px) {
        h1,
        h2,
        textarea {
            font-size: 14px !important;
        }
        h2 {
            margin-bottom: 10px;
        }
        .title div {
            display: none;
        }
        .addComment {
            & > img {
                width: 30px;
                height: 30px;
            }
            textarea {
                height: 60px;
            }
        }
        .comment {
            & > div {
                & > img {
                    width: 30px;
                    height: 30px;
                }
                & > div :last-child img {
                    width: 12px;
                }
                & > div :first-child {
                    font-size: 14px;
                }
            }
            & > p {
                padding: 8px;
                border-radius: 12px;
            }
        }
    }
}
