.Forum {
    grid-column: 2 / 4;
    background-color: var(--light);
    border-radius: 25px;
    padding: 2vw 0 0 1.5vw;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: min-content 1fr min-content;
    height: 830px;
    .find {
        border: none;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        & > div {
            height: max-content;
            width: auto;
            margin: 10px 20px;
            padding: 8px 10px;
            border: 1px solid #cacaca;
            border-radius: 15px;
            display: grid;
            grid-template-columns: min-content 1fr;

            img {
                width: 22px;
                height: 22px;
                margin: auto 10px auto 10px;
                cursor: pointer;
            }
            input {
                background-color: transparent;
                color: #535353;
                padding-top: 2px;
                font-family: $Mulish;
                font-size: 20px;
            }
        }
    }
    .title {
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        border-left: 1px solid #cacaca;
        display: flex;
        flex-direction: row;
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
            margin: auto 1vw;
        }
        h2 {
            width: max-content;
            font-size: 20px;
            margin: auto 0;
        }
        button {
            display: none;
        }
    }
    .list {
        grid-row: 2 / 4;
        height: 100%;
        overflow-x: auto;
        & > div {
            height: max-content;
            padding-top: 1vw;
            width: 100%;
            overflow: hidden;
            & > div {
                cursor: pointer;
                display: grid;
                grid-template-columns: min-content auto min-content;
                padding: 1vw 0.5vw 1.5vw 0;
                border-bottom: 1px solid #cacaca;

                & > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: cover;
                    margin: auto;
                    margin-right: 1vw;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .text {
                    width: 13vw;
                    @media (max-width: 1550px) {
                        width: 200px;
                    }
                }
                .last {
                    font-size: 18px;
                    color: var(--light-font);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .time {
                    font-size: 16px;
                    color: var(--light-font);
                    text-align: right;
                    margin-top: 3px;
                }
                .new {
                    font-size: 14px;
                    color: var(--light-font);
                    margin: auto;
                    padding: 2px 7px 3px 7px;
                    border-radius: 100%;
                    background-color: var(--gray);
                    width: min-content;
                }
            }
        }
        .hidden {
            display: none;
        }
    }
    .chat {
        border-left: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        height: 100%;
        overflow-x: auto;
        display: flex;
        & > div {
            display: flex;
            flex-direction: column;
            padding: 8px 2vw 8px 71px;
            margin: auto 0 0 0;
            height: min-content;
            width: 100%;
            & > div {
                background-color: #efefef;
                width: max-content;
                max-width: 48%;
                margin: 5px 0;
                padding: 1.2vw 10px 5px 1.1vw;
                border-radius: 11px;
                p {
                    padding: 0 0.8vw 0.3vw 0;
                    font-size: 20px;
                }
                img {
                    max-width: 100%;
                    max-height: 400px;
                    border-radius: 5px;
                }
                .time {
                    text-align: right;
                    font-size: 14px;
                    color: var(--light-font);
                    padding: 0;
                }
            }
            .right {
                align-self: end;
            }
        }
        .file {
            padding: 0 0 0 0;
            position: relative;
            .time {
                position: absolute;
                right: 10px;
                bottom: 13px;
                color: black;
                background-color: var(--light-font);
                padding: 1px 3px;
                border-radius: 5px;
            }
        }
    }
    .input {
        border-left: 1px solid #cacaca;
        display: flex;
        flex-direction: row;
        padding: 0 8px 0 15px;
        & > img {
            height: 39px;
            margin: auto 3px auto 3px;
            cursor: pointer;
        }
        & > input {
            border: 1px solid #cacaca;
            padding: 8px 14px;
            width: 100%;
            margin: 15px 10px 15px 10px;
            border-radius: 15px;
        }
        #sent-file {
            display: none;
        }
    }
    @media (max-width: 900px) {
        display: block;
        min-height: 830px;
        max-height: calc(100vh - 80px);
        height: fit-content;
        .find,
        .title,
        .chat,
        .input {
            display: none;
        }
        .chat {
            height: 800px;
            max-height: calc(100vh - 80px);
            & > div {
                padding: 20px;
            }
        }
        .title button {
            display: flex;
            background-color: var(--gray);
            height: min-content;
            padding: 5px 8px 4px 8px;
            border-radius: 5px;
            margin: auto 10px auto 0;
            img {
                rotate: 180deg;
                min-height: 8px;
                height: 2vw;
                width: auto;
            }
        }
        .list > div {
            border-top: 1px solid #cacaca;
            padding-top: 0;
            & > div {
                padding: 20px 10px 20px 0;
                .text {
                    width: 300px;
                }
            }
        }
    }
    @media (max-width: 550px) {
        min-height: calc(100vh - 73px);
        .title img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
        .chat {
            max-height: calc(100vh - 199px);
        }
        .input {
            img {
                height: 25px;
                width: auto;
            }
            input {
                margin: 10px 5px 10px 5px;
            }
        }
        .list > div > div {
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
            .text {
                width: 50vw;
                h3 {
                    font-size: 14px;
                }
                .last {
                    font-size: 13px;
                }
            }
            .time,
            .new {
                font-size: 11px !important;
            }
        }
    }
}
.openMobileChat {
    @media (max-width: 900px) {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 !important;
        width: 100%;
        background-color: var(--light);
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
        .title {
            display: flex;
            padding: 20px;
            border-left: none;
        }
        .input {
            display: flex;
            border-left: none;
        }
        .chat {
            display: block;
            border-left: none;
            border-bottom: none;
        }
        .list {
            display: none;
        }
    }
}
