.Help,
.Forums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3vw;
    height: max-content;
    @media (max-width: 1550px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1250px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 1080px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 890px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    & > div {
        background-color: var(--light);
        border-radius: 25px;
        padding: 20px;
        position: relative;
        h2 {
            font-size: 18px;
            background-color: var(--gray);
            padding: 5px 16px;
            width: max-content;
            border-radius: 10px;
            margin-bottom: 25px;
        }
        & > div {
            margin-top: 30px;
            display: flex;
            img {
                width: 16px;
            }
            p {
                font-size: 13px;
                color: #8c8c8c;
                margin-left: 5px;
                margin-right: 10px;
            }
        }
        button {
            position: absolute;
            right: 20px;
            bottom: 20px;
            padding: 2px 22px 4px 22px;
            border-radius: 10px;
            background-color: var(--gray);
            font-size: 16px;
            font-weight: 400;
            img {
                height: 12px;
            }
        }
    }
    @media (max-width: 550px) {
        gap: 8px;
        & > div h2 {
            font-size: 14px;
            margin-bottom: 15px;
        }
        & > div > div {
            margin-top: 20px;
            p {
                font-size: 11px;
            }
        }
    }
    .CreateFundBlock {
        button {
            position: static;
        }
        img {
            height: 220px;
        }
    }
}
