@import "variables";
@import "libs/normalize";
@import "components";

body {
    background-color: var(--background);
}

p {
    font-size: 18px;
}

input,
textarea,
button {
    font-size: 20px;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.root > div {
    display: grid;
    grid-template-columns: 440px 1fr 303px;
    margin: 1.4vw 2.4vw;
    gap: 1.4vw;

    @media (max-width: 1920px) {
        grid-template-columns: 23vw 1fr 303px;
    }
    @media (max-width: 1600px) {
        grid-template-columns: 300px 1fr 275px;
    }
    @media (max-width: 1080px) {
        display: block;
        .rightSide,
        .leftSide {
            display: none;
        }
        margin: 15px 30px;
    }
    @media (max-width: 550px) {
        p {
            font-size: 13px;
        }
    }
    @media (max-width: 430px) {
        margin: 10px 10px;
    }
}
.mobile-only {
    display: none;
}
@media (max-width: 1080px) {
    .mobile-only {
        display: block;
    }
}
