header {
    background-color: var(--light);
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    padding: 1.1vw 4vw;

    & > img {
        margin-top: 6px;
        cursor: pointer;
        @media (max-width: 1600px) {
            height: 3.5vw;
            min-height: 50px;
        }
    }
    .find {
        width: 600px;
        height: 45px;
        background-color: #ededed;
        border-radius: 15px;
        margin: auto 0 auto calc(22.9vw - 133px);
        padding-right: 20px;
        display: grid;
        grid-template-columns: min-content 1fr;
        position: relative;

        img {
            margin: auto 10px auto 16px;
            cursor: pointer;
        }
        input {
            background-color: transparent;
            color: #535353;
            padding-top: 2px;
            font-family: $Mulish;
        }
        .findResult {
            position: absolute;
            top: 50px;
            left: 0px;
            padding: 10px 12px;
            min-width: 280px;
            border-radius: 23px;
            background-color: var(--light);
            box-shadow: 0 0 8px var(--font);
            z-index: 1;
            & > div {
                margin: 10px 0;
                display: flex;
                & > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: cover;
                    margin: 0 10px;
                }
                div {
                    p {
                        font-size: 16px;
                        color: var(--light-font);
                        margin-top: 5px;
                    }
                    img {
                        margin: 0;
                        margin-bottom: -4px;
                        margin-right: 2px;
                    }
                }
                & > p {
                    margin: 5px;
                }
            }
        }
    }
    .userInfo {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 5px;

        .bell {
            cursor: pointer;
            width: 28px;
            margin: auto 20px;
        }
        .userImage {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
            margin: auto;
        }
        & > p {
            cursor: pointer;
            margin: auto 0 auto 6px;
            img {
                margin-left: 5px;
                transition: 200ms;
            }
            .reverse {
                transform: rotateX(180deg);
            }
        }
        .requestList {
            position: absolute;
            top: 80px;
            left: -105px;
            padding: 10px 12px;
            min-width: 280px;
            border-radius: 23px;
            background-color: var(--light);
            box-shadow: 0 0 8px var(--font);
            z-index: 1;
            & > p {
                margin-left: 6px;
                font-size: 20px;
            }
            & > div {
                margin: 10px 0;
                display: flex;
                & > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: cover;
                    margin: 0 10px;
                }
                div {
                    p {
                        font-size: 16px;
                        color: var(--light-font);
                        margin-top: 5px;
                    }
                    img {
                        margin-bottom: -4px;
                        margin-right: 2px;
                    }
                }
                & > p {
                    margin: 5px;
                }
            }
        }
        .menuPopup {
            position: absolute;
            top: 80px;
            right: -1.4vw;
            padding: 10px 10px 5px 10px;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            border-radius: 23px;
            background-color: var(--light);
            box-shadow: 0 0 8px var(--font);
            z-index: 2;
            div:first-child {
                background-color: var(--gray);
            }
            :last-child {
                img {
                    margin-right: 2px;
                }
            }
            & > div {
                cursor: pointer;
                display: flex;
                justify-content: left;
                gap: 5px;
                padding: 10px;
                border-radius: 15px;
                img {
                    height: 25px;
                }
            }
        }
    }
    button {
        height: 45px;
        padding: 0 37px;
        margin: auto;
        background-color: var(--gray);
        border-radius: 15px;
        color: var(--font);
    }
    .mobile-menu {
        display: none;
    }
    .mobile-nav-bar {
        display: none;
    }
    @media (max-width: 1200px) {
        .find {
            margin-left: 3vw;
        }
    }
    @media (max-width: 1080px) {
        .find,
        .userInfo,
        & > button {
            display: none;
        }
        .mobile-menu {
            display: block;
            margin: 3px 0 0 auto;
            z-index: 3;
        }
        .mobile-nav-bar {
            position: absolute;
            top: 0;
            right: 0;
            width: 200px;
            height: auto;
            z-index: 2;
            box-shadow: 0 0 8px var(--font);
            border-radius: 15px 0 15px 15px;
            background-color: var(--light);
            padding-top: 45px;
            .LeftSideNavBar {
                padding: 10px 10px 5px 10px;
                & > div {
                    padding: 3px;
                    margin-bottom: 8px;
                    p {
                        font-size: 14px;
                        margin-left: 0;
                    }
                    & > div {
                        height: 30px;
                        width: 30px;
                    }
                    svg,
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
                hr {
                    margin: 10px 0 12px 0;
                }
            }
            .privacy-policy {
                display: none;
            }
        }
        .show {
            display: block;
        }
    }

    @media (max-width: 550px) {
        padding: 10px 30px;
        & > img {
            min-height: 32px;
        }
        .mobile-menu {
            width: 24px;
        }
    }
}
