header {
    background-color: var(--light);
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    padding: 1.1vw 4vw;

    & > img {
        margin-top: 6px;
        cursor: pointer;
    }
    .find {
        width: 600px;
        height: 45px;
        background-color: #ededed;
        border-radius: 15px;
        margin: auto 0 auto calc(22.9vw - 133px);
        padding-right: 20px;
        display: grid;
        grid-template-columns: min-content 1fr;

        img {
            margin: auto 10px auto 16px;
            cursor: pointer;
        }
        input {
            background-color: transparent;
            color: #535353;
            padding-top: 2px;
            font-family: $Mulish;
        }
    }
    .userInfo {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 5px;

        .bell {
            cursor: pointer;
            width: 28px;
            margin: auto 20px;
        }
        .userImage {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
            margin: auto;
        }
        & > p {
            cursor: pointer;
            margin: auto 0 auto 6px;
            img {
                margin-left: 5px;
                transition: 200ms;
            }
            .reverse {
                transform: rotateX(180deg);
            }
        }
        .requestList {
            position: absolute;
            top: 80px;
            left: -105px;
            padding: 10px 12px;
            min-width: 280px;
            border-radius: 23px;
            background-color: var(--light);
            box-shadow: 0 0 8px var(--font);
            z-index: 1;
            & > p{
                margin-left: 6px;
                font-size: 20px;
            }
            & > div {
                margin: 10px 0;
                display: flex;
                & > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: cover;
                    margin: 0 10px;
                }
                div{
                    p{
                        font-size: 16px;
                        color: var(--light-font);
                        margin-top: 5px;
                    }
                    img{
                        margin-bottom: -4px;
                        margin-right: 2px;
                    }
                }
            }
        }
        .menuPopup {
            position: absolute;
            top: 80px;
            right: -1.4vw;
            padding: 10px 10px 5px 10px;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            border-radius: 23px;
            background-color: var(--light);
            box-shadow: 0 0 8px var(--font);
            z-index: 2;
            div:first-child {
                background-color: var(--gray);
            }
            :last-child {
                img {
                    margin-right: 2px;
                }
            }
            & > div {
                cursor: pointer;
                display: flex;
                justify-content: left;
                gap: 5px;
                padding: 10px;
                border-radius: 15px;
                img {
                    height: 25px;
                }
            }
        }
    }
    button {
        height: 45px;
        padding: 0 37px;
        margin: auto;
        background-color: var(--gray);
        border-radius: 15px;
        color: var(--font);
    }
}
