.RightSideCharitableBlock {
    background-color: var(--light);
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 30px;
    margin-top: 1.4vw;
    h2 {
        font-size: 18px;
        cursor: default;
        @media (max-width: 1600px) {
            font-size: 16px;
        }
    }
    hr {
        display: block;
        width: auto;
        margin: 20px 0 20px 0;
        border: none;
        border-top: 1px solid #cacaca;
        @media (max-width: 1600px) {
            margin-top: 15px;
        }
    }
    .list {
        display: grid;
        grid-template-rows: min-content;
        gap: 12px;

        & > div {
            display: grid;
            grid-template-columns: min-content 1fr;
            padding: 5px 0 5px 5px;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
                @media (max-width: 1600px) {
                    width: 26px;
                    height: 26px;
                }
            }
            p {
                text-align: left;
                margin: auto 0 auto 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
